[Desktop Entry]
Type=Application
Name=ThirdFlare One Tray
Comment=ThirdFlare One system tray and control panel
Exec=thirdflare-one-tray
Icon=thirdflare
Terminal=false
Categories=Network;
Hidden=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
StartupNotify=false
