[Desktop Entry]
Type=Application
Name=ThirdFlare One
Comment=Unofficial cross-platform Cloudflare One client for warp-cli
Exec=thirdflare-one-tray
Icon=thirdflare
Terminal=false
Categories=Network;
Keywords=Cloudflare;WARP;Zero Trust;ThirdFlare One;VPN;DNS;
StartupNotify=true
